<%= cl_image_tag @property.property_image.key, width: 500 %>
<h1><%= @property.name %></h1>
<h5><%= "#{@property.address.street_number} #{@property.address.street_name} #{@property.address.suburb} #{@property.address.postcode}"%></h5>
<p><%= @property.description%></p>
<p>Property Type: <%= @property.property_type.name %></p>
<p>Bedroom: <%= @property.bedroom_count%></p>
<p>Bed number: <%= @property.bedroom_count%></p>
<p>Bathroom number: <%= @property.bathroom_count%></p>
<p>Availability: <%= "Yes" if @property.availability%></p>
<p>Price: $<%= @property.price%></p>
<p>
    <%= link_to "Back to listing", properties_path, class: "btn btn-primary" %>
    <% if user_signed_in? %>
        <% if policy(@property).update? %>
            <%= link_to "Edit", edit_property_path(@property), class: "btn btn-secondary" %>
        <% else %>
            <%= link_to "Booking", book_property_path(@property.id), method: :post, class: "btn btn-secondary" %>
        <% end %>
    <% end %>
</p>