<% @property.property_images.each do |image| %>
    <%= image_tag image, width: 150%>
<% end %>
<h1><%= @property.name %></h1>
<h5><%= "#{@property.address.street_number} #{@property.address.street_name} #{@property.address.suburb} #{@property.address.postcode}"%></h5>
<p><%= @property.description%></p>
<p>Property Type: <%= @property.property_type.name %></p>
<p>Bedroom: <%= @property.bedroom_count%></p>
<p>Bed number: <%= @property.bedroom_count%></p>
<p>Bathroom number: <%= @property.bathroom_count%></p>
<p>Availability: <%= "Yes" if @property.availability%></p>
<p>Price: $<%= @property.price%></p>
<p>
    <%= link_to "Back to listing", properties_path, class: "btn btn-primary" %>
    <% if policy(@property).update?%>
        <%= link_to "Edit", edit_property_path(@property) %>
    <% else %>
        <%= link_to "Booking" %>
    <% end %>
</p>
